@model IEnumerable<TaoZhugong.Models.DbEntities.Product>

@{
    ViewBag.Title = "產品清單";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
    <p class="mb-4">目前有接觸的股票/基金/外幣/黃金等產品.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6 class="m-0 font-weight-bold text-primary">清單列表</h6>

                </div>
                <div class="col-sm-12 col-md-6" style="text-align: right;">
                    <span class="far fa-plus-square" data-toggle="modal" data-target="#productEditModal" onclick="GetProductEditPage('0')"></span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Type)</th>
                            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                            <th>@Html.DisplayNameFor(model => model.ProductValue)</th>
                            <th>@Html.DisplayNameFor(model => model.Owner)</th>
                            <th>@Html.DisplayNameFor(model => model.Remark)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Type)</th>
                        <th> @Html.DisplayNameFor(model => model.ProductName)</th>
                        <th>@Html.DisplayNameFor(model => model.ProductValue)</th>
                        <th>@Html.DisplayNameFor(model => model.Owner)</th>
                        <th> @Html.DisplayNameFor(model => model.Remark)</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProductValue)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Owner)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Remark)</td>
                                    <td>
                                        <span class="fas fa-edit" data-toggle="modal" data-target="#productEditModal" onclick="GetProductEditPage(@item.ProductSeq)"></span>  |
                                        <span class="fas fa-file-alt" onclick="location.href='/Transaction/Detail?productSeq=@item.ProductSeq'"></span> |
                                        <span class="fas fa-trash-alt" onclick=""></span>  |
                                    </td>
                                </tr>
                            }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="productEditModal" tabindex="-1" role="dialog" aria-labelledby="productEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">產品</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="postBtn" onclick="PostProductForm()">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {

        });

        function GetProductEditPage(productId) {
            $.ajax({
                type: "Get",
                url: "/Product/Edit?productId=" + productId,
                success: function (data) {
                    $(".modal-body").html(data);
                }
            });
        }

        function PostProductForm() {
            var formId = "ProductForm";
            //CheckValid
            if ($("#Type").val() == "") {
                ShowAlert(formId, "warning", "請選擇類型!");
                return false;
            }
            if ($("#ProductName").val() == "") {
                ShowAlert(formId, "warning", "產品名稱為必要項");
                return false;
            }
            if ($("#ProdcutValue").val() == "") {
                ShowAlert(formId, "warning", "產品內容為必要項");
                return false;
            }
            var productId = $("#ProductSeq").val();

            $.ajax({
                type: "Post",
                url: "/Product/Edit",
                data: $("#" + formId).serialize(),
                success: function (data) {
                    if (data == "Success") {
                        $("#productEditModal").modal('toggle');
                        window.location.reload();

                    } else {
                        ShowAlert(formId, "danger", "系統發生錯誤");
                        GetProductEditPage(productId);
                    }

                }
            });
        }


    </script>
}